@import"header-footer.css";
@import"layout.css";
main section {
    width: 80%;
    margin: 0 auto;
    overflow: auto;
    margin-bottom: 1rem;
}

main section h2 {
    margin-top: 2rem;
}

main section p {
    line-height: 1.5;
}