@import "reset.css";

/* @import "globals-styles.css"; */


/* global styles */

* {
    box-sizing: border-box;
}

html {
    min-width: 980px;
    width: 100%;
    min-height: 100%;
    font-size: 100%;
}

body {
    min-height: 100%;
}

h1 {
    font-size: 2rem;
}

a {
    display: block;
    text-decoration: none;
    color: #000;
}

header {
    width: 100%;
    height: 100px;
    background-color: #F3E4BA;
    text-align: center;
}

.logo,
nav,
#login,
#purchase {
    float: left;
    line-height: 100px;
}

.logo {
    width: 20%;
    margin: 0 auto;
}

.logo img {
    width: 80%;
    vertical-align: middle;
}

nav {
    width: 60%;
    position: relative;
}

nav>a,
nav .dropdown {
    width: 20%;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
}

.dropdown .sub-menu {
    min-width: 20%;
    line-height: 2.5;
    position: absolute;
    top: 100px;
    background-color: #F3E4BA;
    opacity: 0;
    transition: opacity 0.8s;
}

.dropdown .sub-menu a {
    padding: 0 1rem;
}

nav .dropdown:nth-of-type(1) .sub-menu {
    left: 20%;
}

nav .dropdown:nth-of-type(2) .sub-menu {
    left: 40%;
}

nav .dropdown:hover .sub-menu {
    opacity: 1;
    z-index: 2;
}

nav a:hover,
a.active {
    background-color: #7D8655;
    color: #FFF;
}

#login,
#purchase {
    width: 10%;
    font-size: 2rem;
}

#login a:hover,
#purchase a:hover {
    color: #7D8655;
}


/* footer css */

footer {
    color: #FFF;
    background-color: #7D8655;
    width: 100%;
    height: 180px;
    position: relative;
}

footer .logo,
footer nav {
    height: 140px;
    line-height: 140px;
}

footer nav a {
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
}

footer .contact-info {
    width: 20%;
    float: right;
    margin-top: 1rem;
    line-height: 2;
}

footer .contact-info a {
    display: inline;
    word-spacing: 0.5rem;
    color: #FFF;
}

footer .contact-info li:nth-child(2) a {
    font-size: 0.8rem;
}

footer .copyright {
    width: 100%;
    border-top: 1px solid #FFF;
    padding-top: 1rem;
    position: absolute;
    bottom: 20px;
    left: 0;
    text-align: center;
}


/* 
footer {
    color: rgb(255, 255, 255);
    width: 100%;
    height: 205px;
    background-color: rgb(125, 134, 85);
    position: relative;
}

footer a {
    color: rgb(255, 255, 255);
}

footer .logo {
    display: inline-block;
    width: 20%;
    height: 160px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

footer .logo a {
    height: 100%;
    line-height: 160px;
}

footer .logo img {
    width: 90%;
    height: auto;
    vertical-align: middle;
}

footer nav {
    width: 60%;
    height: 80%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 20%;
}

footer nav ul {
    width: 100%;
    height: 100%;
}

footer nav ul li {
    width: 20%;
    height: auto;
    float: left;
    text-align: center;
    line-height: 170px;
}

footer nav ul li a {
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 500;
    width: 60%;
    height: auto;
    padding: 1rem 1.5rem;
}

footer nav ul li a:hover {
    background-color: rgb(104, 54, 31);
}

footer .contact-info {
    font-size: 1vw;
    word-spacing: 0.2vw;
    line-height: 3;
    font-weight: 500;
    width: 40%;
    margin-top: 1.5rem;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 80%;
}

footer li.social-media i.fab {
    font-size: 2rem;
}

footer .social-media a {
    display: inline;
    margin: 0.5rem;
}

footer .contact-info a:hover {
    color: rgb(104, 54, 31);
}

footer .copyright {
    width: 100%;
    height: 45px;
    border-top: 1px solid rgb(255, 255, 255);
    line-height: 45px;
    letter-spacing: 0.05rem;
    text-align: center;
    position: absolute;
    bottom: 0;
}

footer .copyright p {
    margin: 0;
    font-size: 0.8vw;
} */