@import "reset.css";

/* global styles */

* {
    box-sizing: border-box;
}

html {
    min-width: 980px;
    width: 100%;
    min-height: 100%;
    font-size: 100%;
}

body {
    min-height: 100%;
}

h1 {
    font-size: 2rem;
}

a {
    display: block;
    text-decoration: none;
    color: #000;
}


/* header */

header {
    width: 100%;
    height: 100px;
    background-color: #F3E4BA;
    text-align: center;
}

.logo,
nav,
#login,
#purchase {
    float: left;
    line-height: 100px;
}

.logo {
    width: 20%;
    margin: 0 auto;
}

.logo img {
    width: 80%;
    vertical-align: middle;
}

nav {
    width: 60%;
    position: relative;
}

nav>a,
nav .dropdown {
    width: 20%;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
}

.dropdown .sub-menu {
    min-width: 20%;
    line-height: 2.5;
    position: absolute;
    top: 100px;
    background-color: #F3E4BA;
    opacity: 0;
    transition: opacity 0.8s;
}

.dropdown .sub-menu a {
    padding: 0 1rem;
}

nav .dropdown:nth-of-type(1) .sub-menu {
    left: 20%;
}

nav .dropdown:nth-of-type(2) .sub-menu {
    left: 40%;
}

nav .dropdown:hover .sub-menu {
    opacity: 1;
    z-index: 2;
}

nav a:hover,
a.active {
    background-color: #7D8655;
    color: #FFF;
}

#login,
#purchase {
    width: 10%;
    font-size: 2rem;
}

#login a:hover,
#purchase a:hover {
    color: #7D8655;
}


/* footer */

footer {
    color: #FFF;
    background-color: #7D8655;
    width: 100%;
    height: 180px;
    position: relative;
}

footer .logo,
footer nav {
    height: 140px;
    line-height: 140px;
}

footer nav a {
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
}

footer .contact-info {
    width: 20%;
    float: right;
    margin-top: 1rem;
    line-height: 2;
}

footer .contact-info a {
    display: inline;
    word-spacing: 0.5rem;
    color: #FFF;
}

footer .contact-info li:nth-child(2) a {
    font-size: 0.8rem;
}

footer .copyright {
    width: 100%;
    border-top: 1px solid #FFF;
    padding-top: 1rem;
    position: absolute;
    bottom: 20px;
    left: 0;
    text-align: center;
}