@import"header-footer.css";

/* start carousel section */

section.carousel {
    position: relative;
    width: 100vw;
    height: 50vw;
    overflow: hidden;
    text-align: left;
}


/* product images */

ul.pro-images {
    position: absolute;
    left: 0;
    top: 0;
    width: 400%;
}

ul.pro-images li {
    width: 25%;
    float: left;
}

ul.pro-images img {
    width: 100%;
    height: auto;
}


/* product content */

.carousel .content {
    width: 100%;
    height: 100%;
}

.carousel .content div {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    display: none;
}

.carousel .content div h1 {
    font-size: 3rem;
    color: #fff;
    text-shadow: 2px 3px 5px #000;
    font-family: 'Roboto', sans-serif;
    ;
}

.carousel .content div p {
    font-size: 1.8rem;
    color: #fff;
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
    ;
}

.carousel .content div.current {
    display: block;
}


/* left and right click arrows */

.carousel .arrows {
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .arrows i {
    width: 4rem;
    height: 4rem;
    position: absolute;
    text-align: center;
    line-height: 4rem;
    border-radius: 50%;
    font-size: 3rem;
    color: #fff;
    background-color: #f6eed9b2;
    transition: all 0.5s;
}

.carousel .arrows i.fa-chevron-left {
    left: 5%;
}

.carousel .arrows i.fa-chevron-right {
    right: 5%;
}

.carousel .arrows i:hover {
    color: #7D8655;
    background-color: #F3E4BA;
}


/* bottom small page circles */

.carousel .circles {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.carousel .circles li {
    display: inline-block;
    margin: 0.2rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #f6eed965;
}

.carousel .circles li.active {
    background-color: #F3E4BA;
}


/* end carousel section */


/* start main content */

main {
    width: 100%;
    height: auto;
    background-color: #F6EED9;
    overflow: hidden;
}

main section {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

section span {
    display: inline-block;
    background-color: #FFF;
    padding: 0.3rem 1rem;
    margin: 1rem 0;
    border-radius: 1.5rem;
    text-align: center;
}

main section h1,
main section article h2 {
    text-align: center;
    font-weight: bold;
    margin: 2rem 0;
    text-transform: uppercase;
}

main section article {
    width: 23.5%;
    float: left;
    margin: 0 1%;
    overflow: hidden;
}

main section article img {
    transition: transform 0.5s;
}

main section article img:hover {
    transform: scale(1.1);
}

main section article h2 {
    margin: 1rem 0;
}

main section article p {
    padding-top: 1rem;
    line-height: 1.5;
    min-height: 120px;
}

.carousel div span {
    width: 15%;
}

.carousel div span:hover,
main section article span:hover {
    background-color: #838383;
    color: #FFF;
}

main section article:nth-of-type(1) {
    margin-left: 0;
}

main section article:nth-of-type(4) {
    margin-right: 0;
}

main section article img {
    width: 100%;
    height: auto;
}

main section:nth-of-type(3) p {
    margin-bottom: 1rem;
    text-align: left;
    line-height: 1.5;
}

main section:nth-of-type(4) {
    width: 100%;
    background: url("../images/carousel/double-cheesecake-machta3.jpg") no-repeat;
    background-position: center;
    ;
}