@import"header-footer.css";

/* start carousel section */

section.carousel {
    width: 100%;
    height: 692px;
    overflow: hidden;
    background: url("../images/carousel/basque-cheesecake2.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
}

.content h1 {
    text-transform: uppercase;
    padding: 1rem;
    text-shadow: 3px 3px 5px #000;
    font-size: 3rem;
}

.content a {
    display: block;
    margin: 3rem 1rem;
}


/* end carousel section */


/* start main content */

main {
    width: 100%;
    height: auto;
    background-color: #F6EED9;
    overflow: hidden;
}

main section {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

section span {
    display: inline-block;
    background-color: #FFF;
    padding: 0.3rem 1rem;
    margin: 1rem 0;
    border-radius: 1.5rem;
    text-align: center;
}

main section h1,
main section article h2 {
    text-align: center;
    font-weight: bold;
    margin: 2rem 0;
    text-transform: uppercase;
}

main section article {
    width: 23.5%;
    float: left;
    margin: 0 1%;
}

main section article img {
    transition: transform 0.5s;
}

main section article img:hover {
    transform: scale(1.1);
}

main section article h2 {
    margin: 1rem 0;
}

main section article p {
    padding-top: 1rem;
    line-height: 1.5;
    min-height: 120px;
}

.carousel div span {
    width: 30%;
}

.carousel div span:hover,
main section article span:hover {
    background-color: #838383;
    color: #FFF;
}

main section article:nth-of-type(1) {
    margin-left: 0;
}

main section article:nth-of-type(4) {
    margin-right: 0;
}

main section article img {
    width: 100%;
    height: auto;
}

main section:nth-of-type(3) p {
    margin-bottom: 1rem;
    text-align: left;
    line-height: 1.5;
}

main section:nth-of-type(4) {
    width: 100%;
    background: url("../images/carousel/double-cheesecake-machta3.jpg") no-repeat;
    background-position: center;
    ;
}