@import"header-footer.css";

/* start carousel section */

section.carousel {
    width: 100%;
    height: 692px;
    overflow: hidden;
    background: url("../images/carousel/basque-cheesecake2.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
}

.content h1 {
    text-transform: uppercase;
    padding: 1rem;
    text-shadow: 3px 3px 5px #000;
    font-size: 3rem;
}

.content a {
    display: block;
    margin: 3rem 1rem;
}


/* end carousel section */


/* start main content */

main {
    width: 100%;
    height: auto;
    background-color: #F6EED9;
    overflow: hidden;
}

main section {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

section span {
    display: inline-block;
    background-color: #FFF;
    padding: 0.3rem 1rem;
    margin: 1rem 0;
    border-radius: 1.5rem;
    text-align: center;
}

main section h1,
main section article h2 {
    text-align: center;
    font-weight: bold;
    margin: 2rem 0;
    text-transform: uppercase;
}

main section article {
    width: 23.5%;
    float: left;
    margin: 0 1%;
}

main section article img {
    transition: transform 0.5s;
}

main section article img:hover {
    transform: scale(1.1);
}

main section article h2 {
    margin: 1rem 0;
}

main section article p {
    padding-top: 1rem;
    line-height: 1.5;
    min-height: 120px;
}

.carousel div span {
    width: 30%;
}

.carousel div span:hover,
main section article span:hover {
    background-color: #838383;
    color: #FFF;
}

main section article:nth-of-type(1) {
    margin-left: 0;
}

main section article:nth-of-type(4) {
    margin-right: 0;
}

main section article img {
    width: 100%;
    height: auto;
}

main section:nth-of-type(3) p {
    margin-bottom: 1rem;
    text-align: left;
    line-height: 1.5;
}

main section:nth-of-type(4) {
    width: 100%;
    background: url("../images/carousel/double-cheesecake-machta3.jpg") no-repeat;
    background-position: center;
    ;
}


/* main {
    width: 100%;
    overflow: hidden;
    text-align: center;
    background-color: #F6EED9;
    margin: 0 auto;
}



main section {
    width: 90%;
    overflow: auto;
}

main .product {
    width: 23%;
    float: left;
    padding: 1% 1%;
}

main .product img {
    width: 100%;
    display: inline-block;
}

.product h2 {
    text-transform: uppercase;
}

.product p {
    min-height: 60px;
    font-size: 1vw;
    text-align: left;
}

.buy,
.get-recipe,
.about-us .more-info {
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    background-color: rgb(255, 255, 255);
    border-radius: 35px;
}

.product:hover {
    background-color: rgb(204, 204, 204);
}

.buy:hover,
.get-recipe:hover,
.about-us .more-info:hover,
.contact a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(131, 131, 131);
}



.about-us p {
    text-align: left;
    line-height: 1.5;
}



main .contact {
    width: 100%;
    height: 200px;
    margin: 0;
    position: relative;
}

main .contact::before {
    content: "";
    background-image: url(../images/products/double-cheese-cake/machta/double-cheesecake-machta3.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

main .contact h1,
main .contact a {
    position: relative;
    text-transform: uppercase;
}

main .contact .fa-envelope {
    margin-right: 0.5rem;
}

main .contact a {
    display: inline-block;
    padding: 0 1rem;
    margin-top: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 95px;
}
 */


/* end contact section */


/* end main content */