/* breadcrumb styles */

main .breadcrumb {
    width: 100%;
    margin: 3rem;
}

.breadcrumb>a {
    display: inline-block;
    border: 1px solid #838383;
    padding: 0.5rem 1rem;
}

.breadcrumb div {
    display: inline-block;
    margin-left: 2rem;
}

.breadcrumb div a {
    display: inline-block;
}

.breadcrumb a:hover {
    font-weight: bold;
}


/* sidebar styles */

.sidebar {
    width: 18%;
    margin-left: 5%;
    margin-right: 2%;
    float: left;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.sidebar ul li {
    margin: 1rem 0;
}

.sidebar ul li a {
    min-width: 150px;
    padding: 0.5rem 0.5rem;
}

.sidebar .active,
.sidebar a:hover {
    background-color: #7D8655;
    color: #FFF;
}


/* end sidebar styles */


/* start form styles */

form label {
    width: 45%;
    float: left;
    clear: left;
}

form input,
form select,
form textarea {
    box-sizing: content-box;
    width: 45%;
    float: left;
    margin-bottom: 1rem;
    font-family: Roboto, sans-serif;
    font-size: 1vw;
    padding: 0.2vw 0.2vw;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 3px;
    background-color: rgb(240, 240, 240);
}

form input,
form select option {
    height: 2vw;
}

form input:hover,
form select:hover,
form textarea:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: -1px -1px 2px rgb(131, 131, 131);
}

form input[type=submit] {
    float: none;
    width: 20%;
    font-size: 1vw;
}

form input[type=submit]:hover {
    background-color: rgb(131, 131, 131);
    color: rgb(255, 255, 255);
    box-shadow: none;
}


/* end form styles */