@import "../css/templates/header-footer.css";
main {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
}


/* start sub navigation */

main aside {
    width: 27%;
    background-color: rgb(242, 107, 42);
    float: left;
}

main aside>h1 {
    margin-left: 2.5rem;
}

aside ul {
    padding: 0;
}

aside ul li {
    text-transform: uppercase;
    font-weight: bold;
    padding: 2.5rem;
    border-top: 1px solid rgb(255, 255, 255);
}

aside ul li:last-child {
    border-bottom: 1px solid rgb(255, 255, 255);
}


/* 1. Add an "active" class to current link to let user know which page. 2.Change the link color to rgb(245, 223, 77) on hover */

aside .sub-active,
aside ul li a:hover {
    color: rgb(245, 223, 77);
    text-shadow: -2px 2px 5px rgb(245, 223, 77);
}


/* end subnavigation */


/* start news section */

main section {
    width: 74%;
    height: auto;
    background: url("../images/bg/news-main-bg.jpg") no-repeat;
    float: right;
}

section .breadcrumb a {
    color: rgb(227, 104, 104);
    text-transform: uppercase;
    font-weight: bold;
    margin: 1.5rem 1rem;
    display: inline-block;
}

section .breadcrumb i {
    color: rgb(227, 104, 104);
}

section article {
    height: auto;
    margin: 0 1rem 1rem 1rem;
    background-color: rgba(147, 149, 151, 0.5);
    position: relative;
}

section article div {
    width: 60%;
    height: auto;
    position: absolute;
    top: 10%;
    right: 0;
}


/* end news section */