@import"header-footer.css";
@import"layout.css";

/* start main content */

main {
    text-align: center;
}

main .breadcrumb {
    text-align: left;
}

main h1,
main h2 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
}

main h2 {
    margin: 1.5rem 0;
}

main p {
    margin: 1rem 0;
}

main .products {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.product {
    width: 47%;
    float: left;
    overflow: hidden;
    margin: 1rem 0;
}

.product:nth-child(2n+1) {
    margin-right: 3%;
}

.product:nth-child(2n) {
    margin-left: 2.5%;
}

.product img {
    width: 100%;
    transition: transform 0.5s;
}

.product img:hover {
    transform: scale(1.05);
}

main article span {
    display: inline-block;
    background-color: #FFF;
    padding: 0.3rem 1rem;
    border-radius: 1.5rem;
    text-align: center;
}

main article span:hover {
    background-color: #838383;
    color: #FFF;
}