@import"../header-footer.css";
@import"../layout.css";
main {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    background-color: rgb(246, 238, 217);
}

main .reset {
    width: 40%;
    height: auto;
    padding: 5vh;
    margin: 10vh auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px rgb(131, 131, 131);
    text-align: center;
}

main .reset>h1 {
    font-family: Roboto sans-serif;
    font-size: 2vw;
    text-transform: none;
}

main .reset form {
    margin: 3rem auto;
}

main .reset input {
    float: none;
}

main .reset input[type="submit"] {
    margin-top: 1rem;
    width: 35%;
}