@import"../header-footer.css";
@import"../layout.css";
main .reset {
    width: 40%;
    height: auto;
    padding: 5rem;
    margin: 7rem auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px rgb(131, 131, 131);
    text-align: center;
}

main .reset form {
    margin: 3rem auto;
}

main .reset input {
    float: none;
}

main .reset input[type="submit"] {
    margin-top: 1rem;
    width: 35%;
}