@import"../header-footer.css";
@import"../layout.css";

/* start main content */

main .prd {
    float: left;
    margin-bottom: 1rem;
}

main h1 {
    margin-bottom: 1rem;
}

.prd {
    width: 70%;
    margin-right: 5%;
}

.prd>article {
    width: 49%;
    float: left;
}


/* products price */

.prd .prd-buy {
    margin-left: 2%;
}

.prd .prd-buy p {
    margin: 1rem 0;
    font-weight: bold;
    font-size: 1.3rem;
}


/* products showcase */

.prd-img .showcase {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.prd-img .showcase li {
    width: 25%;
}

.prd-img .showcase li:hover {
    cursor: pointer;
}

.prd-img .showcase li img {
    vertical-align: bottom;
}

.prd-img .showcase li.current {
    border: 2px solid #7D8655;
}


/* products description */

.prd .prd-info {
    width: 100%;
    overflow: hidden;
    clear: both;
}

.prd .prd-info h1,
.prd .prd-info h2 {
    margin-top: 1rem;
}

.prd .prd-info a {
    display: inline;
    color: #7D8655;
    font-weight: bold;
    text-decoration: underline;
}

.prd .prd-info table {
    margin-top: 1rem;
}

.prd-info table td,
.prd-info table th {
    padding: 0.5rem 1rem;
    border: 1px solid #F6EED9;
}

.prd-info table td:nth-child(1),
.prd-info table th:nth-child(1) {
    background-color: #7D8655;
    color: #FFF;
}

.prd-info table td:nth-child(2) {
    background-color: #CCC;
}

.prd-info table span {
    margin-left: 0.5rem;
}

.prd-info table span:nth-child(1) {
    margin-left: 0;
}