@import"../header-footer.css";
@import"../layout.css";

/* start main content */

main {
    width: 100%;
    background-color: rgb(246, 238, 217);
    overflow: hidden;
}


/* start product  parts */

main .prd {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 2rem;
    float: none;
    overflow: hidden;
}


/* product image slider */

.prd .prd-img {
    width: 55%;
    float: left;
}

.prd-img img {
    width: 100%;
    display: block;
}

.bx-wrapper {
    border: none;
    box-shadow: none;
    margin-bottom: -5px;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    bottom: 15px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: rgb(255, 255, 255);
}

.slider {
    position: relative;
}


/* end image slider */

.prd .prd-buy {
    width: 40%;
    margin-left: 2rem;
    float: left;
}

.prd h1 {
    font-family: roboto;
    text-transform: none;
    margin-top: 0;
}

.prd p {
    font-size: 1vw;
    margin-top: 0;
}

.prd p>a {
    color: rgb(125, 134, 85);
    font-weight: bold;
    text-decoration: underline;
}

.prd-buy .price {
    font-size: 2vw;
    font-weight: bold;
    margin: 0 auto;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.prd-buy form label {
    padding-left: 1rem;
    font-weight: bold;
    font-size: 1.5vw;
}

.prd-buy button {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(131, 131, 131);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
}

.prd-buy button:hover {
    background-color: rgb(131, 131, 131);
    color: rgb(255, 255, 255);
}

.prd-info {
    clear: both;
    overflow: hidden;
}

.prd-info article {
    margin-top: 3rem;
}

.prd-info table td,
.prd-info table th {
    padding: 0.5rem 1rem;
    border: 1px solid rgb(246, 238, 217);
}

.prd-info table td:nth-child(1),
.prd-info table th:nth-child(1) {
    background-color: rgb(125, 134, 85);
    color: rgb(255, 255, 255);
}

.prd-info table td:nth-child(2) {
    background-color: rgb(204, 204, 204);
}

.prd-info table span {
    margin-left: 0.5rem;
}

.prd-info table span:nth-child(1) {
    margin-left: 0;
}


/* end product parts*/


/* end main content */